.menu-button{
-fx-background-color: transparent;
-fx-background-image: url("../images/Button.png");
-fx-background-size: 100% 100%;
-fx-background-position: center;
-fx-border-color: transparent;
-fx-text-fill: black;
-fx-font-family: "Press Start 2P Regular";
-fx-font-size: 24px;
-fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-image: url("../images/Button.png");
    -fx-background-color: rgba(229, 181, 20, 0.3);
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 25, 0.7, 0, 0);
}

.menu-button:pressed {
    -fx-translate-y: 4px;
    -fx-effect: dropshadow(gaussian, rgba(229, 181, 20, 0.6), 5, 0.5, 0, 0);
}

.keyboard-button{
-fx-background-color: transparent;
-fx-background-image: url("../images/KeyboardButton.png");
-fx-background-size: 100% 100%;
-fx-background-position: center;
-fx-border-color: transparent;
-fx-text-fill: white;
-fx-font-family: "Press Start 2P Regular";
-fx-font-size: 24px;
-fx-cursor: hand;
}
